[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "/home/nalta/.vim/bundle/vim-airline-themes"]
	path = /home/nalta/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/latex-unicoder.vim"]
	path = bundle/latex-unicoder.vim
	url = git@github.com:joom/latex-unicoder.vim.git
[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = git@github.com:justinmk/vim-syntax-extra.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
